/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

.reveal pre code {
    font-size: 1em;
    max-height: 50vh !important;
    border-radius: 10px;
}


.reveal .slides {
    text-align: left;
    font-size: 0.8em;
    margin: 20px;
    max-height: 50vh !important;
    border-radius: 10px;
}

.reveal .slides section {
    text-align: left;
    font-size: 0.8em;
    margin: 20px;
}
